body { font-size: 70%; } /* global font size */

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.jspsych-display-element {
  width: 100%;
}

.jspsych_target {
  text-align: center;
  width: 100%;
  height: 100%;
}


.instructions {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  text-align: left;
  word-wrap: normal;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


#go {
  width: 30%;
  height: 80px;
  margin: 0 auto;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}
.jspsych-display-element h1 {
  width: 50%;
}

.side-ind {
  text-align:center; 
  font-size: 80%; 
  position: fixed;
  width: 100%;
}



@media screen and (min-width: 480px) {
  body {
    font-size: 75%; 
  } 
}

@media screen and (min-width: 768px) {
  body {
    font-size: 125%; 
  } 
}